.hero-block {
    margin: 65px 0 0;
}

.hero-block .carousel-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-block .carousel-item img {
    width: 100%;
}

.hero-block .carousel-caption {
    left: 15%;
    right: 15%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
    /* display: none; */
}

.hero-block p {
    margin: 0 0 30px;
}

.hero-block .carousel-control {
    width: 50%;
}